:root {
    --pop:      #FFF6E0;
    --tertiaryC:  #D8D9DA;
    --secondaryC: #61677A;
    --primary:       #272829;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
}


body{
    background: var(--primary);
    color:      var(--pop);
}

#header{
    width: 100%;
    height: 80px;
    background-size: cover;
    background-position: center;
    position: fixed;
}

.container{
    padding: 20px 5%;
    background-color: var(--primary);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    height: 40px;
    width: 40px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
nav ul li a{
    text-decoration: none;
    color: var(--pop);
    font-size: 1.2rem;
    transition: color .3s;
}
nav ul li a:hover{
    color: var(--tertiaryC);
}

.home{
    height: 100vh;
    width: 100%;
    background-image: url(images/headerBG.jpg);
    background-clip: content-box;
    background-size: cover;
}

.header-text .home-header{
    padding-top: 20%;
    text-align: center;
    font-size: 450%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.header-text .home-description{
    padding-top: 4%;
    text-align: center;
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    color: var(--pop);
}
a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}
.about{
    height: 100vh;
    width: 100%;
    background-color: var(--pop);
    offset-anchor: -100;
}

.about .header-about{
    padding-top: 2%;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    color: var(--primary);
}
.about-Content{
    padding-top: 4%;
    padding-left: 15%;
    padding-right: 8%;
    display: flex;
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: left;
    color: var(--primary);
}

.about-Content .desc{
    display: flex;
    padding-top: 6%;
    padding-right: 20%;
    font-size: 80%;
    font-weight: 250;
    text-align: left;
    line-height: 150%;
    color: var(--secondaryC);
}


.projects{
    height: 92vh;
    width: 100%;
    background-color: var(--pop);
}

.header-projects{
    padding-top: 2%;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    color: var(--primary);
}

.contact{
    height: 92vh;
    width: 100%;
    background-color: var(--pop);
}

.header-contact{
    padding-top: 2%;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    color: var(--primary);
}