:root {
    --pop:      #FFF6E0;
    --tertiaryC:  #D8D9DA;
    --secondaryC: #61677A;
    --primary:       #272829;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
}


body{
    background: var(--primary);
    color:      var(--pop);
}

#header{
    width: 100%;
    height: 80px;
    background-size: cover;
    background-position: center;
    position: fixed;
}

.container{
    padding: 20px 5%;
    background-color: var(--primary);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logos{
    display: flex;
    flex-direction: row;
    gap: 10%;
}
.logos p{
    padding-top: 10px;
    display: inline-block;
    list-style: none;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.5rem;
    width: 230px;

}

.logo{
    height: 40px;
    width: 40px;
    position: relative;
    top: 6px;
}
.logo:hover{
    opacity: 75%;
}

.linkLogo{
    height: 53px;
    width: 53px;
    position: relative;
}
.linkLogo:hover{
    opacity: 75%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
nav ul li a{
    text-decoration: none;
    color: var(--pop);
    font-size: 1.2rem;
    transition: color .3s;
}
nav ul li a:hover{
    color: var(--tertiaryC);
}

.home{
    height: 100vh;
    width: 100%;
    background-image: url(images/headerBG.jpg);
    background-clip: content-box;
    background-size: cover;
}

.header-text .home-header{
    padding-top: 20%;
    text-align: center;
    font-size: 450%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.header-text .home-description{
    padding-top: 4%;
    text-align: center;
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    color: var(--pop);
}
a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}
.about{
    height: 100vh;
    width: 100%;
    background-color: var(--pop);
    offset-anchor: -100;
}

.about .header-about{
    padding-top: 2%;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    color: var(--primary);
}
.about-Content{
    padding-top: 4%;
    padding-left: 13%;
    padding-right: 8%;
    display: flex;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: left;
    color: var(--primary);
    height: 81%;
    justify-content: space-around;

}

.leftSide{
    height: 90%;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.about-Content .desc{
    display: flex;
    padding-top: 6%;
    font-size: 60%;
    font-weight: 250;
    text-align: left;
    line-height: 150%;
    color: var(--secondaryC);

}


.rightSide{
    height: 90%;
    width: 35%;
    display: flex;
    flex-direction: column;
}

.list{
    padding-top: 8%;
    font-size: 55%;
    font-weight: 250;
    display: flex;
    flex-wrap: wrap;
    gap: 6%;
    row-gap: 20px;

}

.skill{
    padding: 3% 5%;
    border-radius: 10px;
    background-color: var(--tertiaryC);
    color: var(--primary);
}


.projects{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--pop);
    border: 2px solid black;
}

.header-projects{
    padding-top: 2%;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    color: var(--primary);
}

.contact{
    display: flex;
    flex-direction: column;
    background-color: var(--secondaryC);
    border: 2px solid black;
    align-items: center;

}

.header-contact{
    padding-top: 2%;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--pop);
    width: 30%;
    text-align: center;
}

.contactB{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 10%;
    background-color: var(--primary);
    height: 800px;
    width: 45%;
    border-radius: 5px;
    align-items: flex-start;
    box-shadow: var(--primary) 0 7px 29px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.formInput{
    display: flex;
    color: #333;
    padding: 2rem;
    margin-left: 25px;
    font-size: 1.1rem;
    background: var(--tertiaryC);
    border-radius: 5px;
    font-weight: 600;
    width: 800px;

}

.formLabel{
    padding-top: 3%;
    padding-left: 2%;
    display: flex;
    color: var(--pop);
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: left;
}

.formMessage{
    display: flex;
    height: 300px;
    color: #333;
    padding: 2rem;
    margin-left: 25px;
    font-size: 1.1rem;
    background: var(--tertiaryC);
    border-radius: 5px;
    font-weight: 600;
    width: 800px;
}

.btn {
    margin-top: 2%;
    margin-left: 3%;
    background: #7843e9;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
    transition: transform .3s;
}

.contact__btn {
    width: 30%;
    padding: 1.3rem;
    font-size: 1.3rem;
}
.btn--theme {
    background: var(--pop);
    color: var(--primary)
}

#msg{
    padding-left: 40%;
    color: var(--pop);
    display: flex;
    font-size: 1.1rem;
    position: relative;
    top: -65px;
}